doctype html
html
  head
    title= product.name
  body
    h1= product.name
    p= "$" + product.price
    p= product.size + " " + product.measurement
    //-   { name: "Hummus", price: "7", size: "12", measurement: "oz" },